//= require_tree .
//= require_self
//= require foundation_and_overrides

$border-color: #efefef;





.item-wrapper {
  padding: 20px;
  border: 2px solid $border-color;
  border-radius: 7px;
  margin-top: 40px;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}


.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;

}

h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}





