//= require_tree .
//= require_self
//= require foundation_and_overrides

$border-color: #efefef;

// Nav Section

.top-bar-section ul li > a {
  font-family: HelveticaNeue-Medium;
  color: #24657F;
}



// .top-bar-section .right li.hover {
//   color: #DA8158;
// }

// feature box

// .large-block-grid-3-cause {
//   center:true;
// }



.medium-block-grid-4 li a:hover{
  opacity: .5;

}
.item-wrapper {
  padding: 20px;
  border: 2px solid $border-color;
  border-radius: 7px;
  margin-top: 40px;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}


.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;

}

h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
