//= require_tree .
//= require_self
//= require foundation_and_overrides
$gorange :#DA8158;
$gdarkblue :#24657F;
$gblue :#39A1CB;
$glightblue :#93DFFE;
$ggrayblue :#49707F;
$border-color: #efefef;

// Top Bar Section

.top-bar-section ul li > a {
  font-size: 130%;
  font-family: HelveticaNeue-Bold;
  color: white;
  -webkit-text-stroke: 2px #24657F;

}

.top-bar-section ul li{
  padding-left: 100px;

}


// profile

.progress-bar{
  padding: 100px;
   width: 300%;
  background-color: $gorange;

}

.meter{

  border-radius: 100px;
  border-width: 5px;
  border-color: white;
}
.progress{
  border-radius: 100px;
  border-color: rgba(255, 255, 255, .8);
  border-width: 3px;
}

// Causes Feature
.small-6{
  text-align: center;



  p.name{
    border-top-color: #24657F;
    border-top-color: #24657F;
    border-top-style: dotted;
    border-width: 2px;
    font-size: 30px;
    text-transform: lowercase;
    font-family: HelveticaNeue-medium;
    color: #4A4A4A;

  }


  p.description{
    font-size: 20px;
    font-family: HelveticaNeue;
    text-transform: lowercase;
    color: #4A4A4A;


  }

  p.address{
    padding-top: 25px;
    font-size: 15 px;
    font-family: HelveticaNeue;
  }

  p.url{

  }

  p.phone{
    padding-bottom: 25px;
    border-bottom-color: #24657F;
    border-bottom-style: dotted;
    border-width: 2px;
  }
  p.give-button{
    padding-top: 25px;

    :hover{
      opacity: .5;
    }

  }
}


// Causes Index Section
.medium-block-grid-4 li a:hover{
  opacity: .5;

}
.item-wrapper {
  padding: 20px;
  border: 2px solid $border-color;
  border-radius: 7px;
  margin-top: 40px;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}


.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;

}

h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
