// Place all the styles related to the causes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.large-block-grid-4 .index-icons:hover{
  opacity: .5;

}

// .item-wrapper {
//   padding: 20px;
//   border: 2px solid #efefef;
//   border-radius: 7px;
//   margin-top: 40px;

//  &:hover {
//    .img-wrapper {webkit-filter: grayscale(0); }


//  }
// }

// .img-wrapper {
//   margin-bottom: 20px;
//   position: relative;
//   overflow: hidden;


//   img {
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
//     width: 100%;
//   }
// }

// h3 { font-size: 22px; }
// h5 { font-weight: bold; }

// p {
//   color: #888;
//   font-size: 13px;
//   margin-bottom: 0;
// }

